:root {
    --koala-skin: grey;
    --koala-eye: white;
    --koala-pupille: black;
}


    /*------------------------------------------------------------------------------*/
    .spalte  {
        color: black;
        
    }

    html,
    body {

        overflow-x: auto !important;
        overflow-y: auto !important;
    }


.hintergrund1 {
    background-image: url('bild-11697h.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.koala {
    margin: 0 auto;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    left: 200px;
}

.stamm {
    height: 100%;
    width: 100px;
    background: linear-gradient(rgb(204, 102, 0), rgb(102, 51, 0));
    position: absolute;
    left: 63%;

    transform: skew(-4deg, 0deg);
}

.koerper {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--koala-skin);
    position: relative;
    top: 40%;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1;

}

.koalabeinleft {
    width: 50px;
    height: 150px;
    background: linear-gradient(gray, rgb(128, 128, 128), rgb(64, 64, 64));
    position: absolute;
    top: 80%;
    transform: rotate(-40deg);
    left: 125px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    ;
    border-top-left-radius: 40%;

}

.koalabeinright {
    width: 50px;
    height: 87px;
    background: linear-gradient(gray, rgb(128, 128, 128), rgb(64, 64, 64));
    position: absolute;
    top: 75%;
    transform: rotate(-40deg);
    left: 230px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;

    border-top-left-radius: 40%;
}

.koalaarmrechts {
    width: 50px;
    height: 160px;
    background: linear-gradient(gray, rgb(128, 128, 128), rgb(64, 64, 64));
    position: absolute;
    top: 40%;
    transform: rotate(-50deg);
    left: 230px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    ;
    border-top-right-radius: 40%;
}

.koalawinkenderoberarm {
    width: 40px;
    height: 110px;
    background-color: var(--koala-skin);
    position: absolute;
    transform: rotate(99deg);
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    ;
    border-top-left-radius: 40%;
    right: 80%;
    top: 70%;
    transform-origin: top left;
    transform: rotate(130deg) scaleX(-1);
    animation: 2s linear infinite wave;
}

@keyframes wave {
    10% {
        transform: rotate(110deg) scaleX(-1)
    }

    20% {
        transform: rotate(130deg) scaleX(-1)
    }

    30% {
        transform: rotate(110deg) scaleX(-1)
    }

    40% {
        transform: rotate(130deg) scaleX(-1)
    }
}

.koalakopf {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--koala-skin);
    position: relative;
    top: -40%;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1;
}

.koalaaugeleft {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    top: -63%;
    z-index: 1;
    left: 54px;
}

.koalaaugeright {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    top: -68%;
    z-index: 1;
    left: 132px;
}

.koalapurpile {
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgba(241, 110, 17, 1) 14%, rgba(171, 98, 42, 1) 70%, rgba(142, 89, 43, 1) 100%);
    position: relative;
    top: -72%;
    border-radius: 50%;
    right: -138px;
    z-index: 1;
}

.koalapurpillelinks {
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgba(241, 110, 17, 1) 14%, rgba(171, 98, 42, 1) 70%, rgba(142, 89, 43, 1) 100%);
    position: relative;
    top: -74%;
    border-radius: 50%;
    right: -60px;
    z-index: 1;

}

.koalaohren {
    width: 50px;
    height: 60px;
    background: radial-gradient(circle, rgba(125, 125, 125, 1) 49%, rgba(25, 25, 24, 1) 100%);
    top: -400px;
    ;
    position: relative;
    z-index: -1;
    border-radius: 50% 50% 0 50%;




}

.koalaohrenright {
    width: 50px;
    height: 60px;
    background: radial-gradient(circle, rgba(125, 125, 125, 1) 49%, rgba(25, 25, 24, 1) 100%);
    top: -460px;
    ;
    position: relative;
    z-index: -1;
    border-radius: 50% 50% 50% 0%;
    left: 170px;

}

.koalanase {
    width: 40px;
    height: 60px;
    background-color: var(--koala-pupille);
    position: relative;
    bottom: 100%;
    z-index: 1;
    left: 85px;
    border-radius: 0 0 100% 100%;


}

.text {
    color: red;
    z-index: 1;
    position: relative;
    bottom: 350px;
    left: 100px;
    background-color: var(--koala-skin);
    border: 2px solid var(--koala-skin);
    width: 20px;
    text-decoration: none;

}



.koala .text {
    color: transparent;
    text-decoration: none;
}

.koala:hover .text,
.koala:hover .link {
    color: black;
    transition: 2s;
    animation-name: shakeX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

}

.koala:hover .link {
    text-decoration: underline;
}

.link {
    color:var(--koala-skin);
}

/*animate__shakeX*/
.Hinweisbauch {
    width: 200px;
    height: 2px;
    background-color: black;
    position: relative;
    bottom: 520px;
    z-index: 1;
    transform: rotate(25deg);
    right: 80px;

}

.Hinweistext {
    width: 190px;
    height: 30px;
    background-color: transparent;
    border: 2px dashed yellow;
    position: relative;
    bottom: 580px;
    right: 265px;
    text-decoration: underline;
    color: white;

}

html,
body {

    overflow-x: auto !important;
    overflow-y: auto !important;

}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#title {
    text-align: center;
}

#navbar {
    text-align: right;
    text-decoration: none;
}

header {
    background-color: gray;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 22px 13px 14px 0px rgba(0, 0, 0, 0.35);
    height: 130px;
    margin-left: 20px;
    margin-right: 20px;;
}

.startseite {
    text-decoration: underline;
    color: #000000;
    padding-right: 20px;
}

.Praktikumablauf {
    text-decoration: underline;
    color: #000000;
    padding-right: 20px;
}

.spalte {


    border: 2px solid black;
    color: transparent;
}

.show-text {
    color: black;
}

.Zwischenüberschrift1 {
    text-decoration: underline;
}

.koalasherkunft {
    color: transparent;
}

.dumbthings {
    text-decoration:none;
    color:transparent;
}

.spalte:hover,
.spalte:hover .dumbthings {
    color: black;
    transition: 2s;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.spalte:hover .dumbthings {
    color: black;
    text-decoration: underline;
}

.grid-container {
    display: grid;
    /* Das Element wird zu einem Grid-Container */
    grid-template-columns: 1fr 1fr 1fr;
    /* definiert drei gleich große Spalten */
    column-gap: 20px;
    row-gap: 15px;
    padding: 20px 0 20px 0;
    margin-right: 20px;
    margin-left: 20px;
    ;
}


.zweitereihe {
    width: 550px;
    height: 100vh;
    color: transparent;

}


.answer-list {
    list-style: none;
}

.auswahlbutton {
    width: 100px;
    background: linear-gradient(90deg, rgba(96, 255, 0, 1) 60%, rgba(14, 0, 255, 1) 82%);
    color: white;
    height: 50px;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-color: white;
}

.button {
    width: 300px;
    height: 80px;
    border-style: dashed;
    border-color: black;
    background-color: orange;
    position: relative;
    margin: 10px;

}



#answer {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.reglererklärung {
    position: relative;
    font-size: 10px;
    left: 310px;
    bottom: 30px;
}


.spinner_img {
    width: 300px;
    height: 300px;
    animation: 1s linear rotateOut;
    border-radius: 50%;

}

#loader {
    width: 100vw;
    height: 100vh;
    z-index: 1;

    display: flex;
    /* Enable flexbox layout */
    justify-content: center;
    /* Center the div horizontally */

}

#loader-wrapper {
    background-color: goldenrod;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}




/* animation: name duration timing-function delay iteration-count direction fill-mode; */

#loader-wrapper.hide {
   
    animation-name: fadeOutUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}




html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: auto !important;
    overflow-y: auto !important;

}
.zentrieren{
    display:flex;
    align-items:center;
}

/*----------------------------------------------*/



/*--------------------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */